elpa/
eshell/
tramp
url/
sql/
var/
jedi/
auto-save-list/
plugins/.\#*
*.el~
*.elc
clang-complete
auto-complete-clang-async.el
ac-comphist.dat
.session
backups/
.\#.*
[#]*[#]
autosaves/
/.emacs-frequencies
/vendor
/.recentf
.yas-compiled-snippets.el
/nrepl-history
.cask/
project-explorer-cache/
request/
/projectile-bookmarks.eld
.python-environments/
/.#nrepl-history
/workgroups
/abbrev_defs
/projectile.cache
/workgroups~
/server/
/bookmarks
/.mc-lists.el
/.sx/
/company-statistics-cache.el
/smex-items
/tmp/
/async-bytecomp.log
/ido.last
/lisp/init-secrets.el
