elpa/
eshell/
tramp
url/
sql/
var/
jedi/
auto-save-list/
plugins/.\#*
*.el~
clang-complete
auto-complete-clang-async.el
ac-comphist.dat
.session
backups/
.\#.*
[#]*[#]
autosaves/
/.emacs-frequencies
/vendor
/.recentf
.yas-compiled-snippets.el
/nrepl-history
.cask/
project-explorer-cache/
request/
/projectile-bookmarks.eld
