[submodule "plugins/helm"]
	path = plugins/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "plugins/helm-descbinds"]
	path = plugins/helm-descbinds
	url = git://github.com/emacs-helm/helm-descbinds.git
[submodule "plugins/haskell-mode"]
	path = plugins/haskell-mode
	url = https://github.com/haskell/haskell-mode
